.main-chat
  .main-chat__header
    .left-box
      .left-box__group test
      .left-box__member Member：hiro
    = link_to "#", class: "edit-btn" do
      Edit
  .main-chat__messages
  .main-chat__form