.main-chat
  .header
    .left-box
      .left-box__group test
      .left-box__member Member：hiro
    = link_to "#", class: "edit-btn" do
      Edit
  .messages
    = render @messages
    .message
      .message__ditail
        .message__ditail__name
          hiro
        .message__ditail__date
          2020/05/01(Fri) 08:00:00
      .message__text
        おはよう
  .form
    = form_for [@group, @message] do |f|
      .input
        %input{placeholder: "type a message", class: "input__text", type: "text"}
        %label{class: "input__image"}
          = icon('far', 'image')
          %input{type: "file", class: "file"}
      =f.submit 'Send', class: 'form__submit'