.main-chat
  .main-chat__header
    .left-box
      .left-box__group test
      .left-box__member Member：hiro
    = link_to "#", class: "edit-btn" do
      Edit
  .main-chat__messages
    .messages
      .messages__ditail
        .messages__ditail__name hiro
        .messages__ditail__date 2020/05/01(Fri) 08:00:00
      .messages__text おはよう
  .main-chat__form