.side-bar
  .side-bar__header
    .box
      .box__name hiro
      .box__icon
        = link_to "#", class: "box__icon__btn" do
          = icon('fas', 'edit')
        = link_to "#", class: "box__icon__btn" do
          = icon('fas', 'cog')
  .side-bar__group